# INTRODUCTION TO PANDAS

## What is Pandas?
### Pandas is a Python library that provides data structures and data analysis tools for data manipulation and analysis. It is built on top of the NumPy package, which means Numpy is required for operating the Pandas.

## Why use Pandas?
### 1:- Pandas allows us to analyze big data and make conclusions based on statistical theories.
### 2:- Pandas can clean messy data sets, and make them readable and relevant.
### 3:- Easy Data Cleaning and Transformation.

In [1]:
print("Introduction to Pandas")

Introduction to Pandas

In [7]:
pip install pandas

Requirement already satisfied: pandas in c:\users\sagni\appdata\local\programs\python\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\sagni\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sagni\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sagni\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sagni\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\sagni\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

## Key Data Sructures in Pandas

###### * Series (1-Dimensional)
###### * DataFrame (2-Dimensional)

In [16]:
import pandas as pd
s = pd.Series([1,2,3,4,5], index=["A", "B", "C", "D", "E"])
s

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [21]:
df = pd.DataFrame({"Name": ["Sumit", "Rohan", "Trevor"], "Age": [23, 34, 45]}, index=[1,2,3])
df

     Name  Age
1   Sumit   23
2   Rohan   34
3  Trevor   45

In [22]:
df=pd.read_csv("food delivery costs.csv")

In [23]:
df.head()

,Order ID,Customer ID,Restaurant ID,Order Date and Time,Delivery Date and Time,Order Value,Delivery Fee,Payment Method,Discounts and Offers,Commission Fee,Payment Processing Fee,Refunds/Chargebacks
0,1,C8270,R2924,2024-02-01 01:11:52,2024-02-01 02:39:52,1914,0,Credit Card,5% on App,150,47,0
1,2,C1860,R2054,2024-02-02 22:11:04,2024-02-02 22:46:04,986,40,Digital Wallet,10%,198,23,0
2,3,C6390,R2870,2024-01-31 05:54:35,2024-01-31 06:52:35,937,30,Cash on Delivery,15% New User,195,45,0
3,4,C6191,R2642,2024-01-16 22:52:49,2024-01-16 23:38:49,1463,50,Cash on Delivery,NaN,146,27,0
4,5,C6734,R2799,2024-01-29 01:19:30,2024-01-29 02:48:30,1992,30,Cash on Delivery,50 off Promo,130,50,0

In [24]:
df.tail()

,Order ID,Customer ID,Restaurant ID,Order Date and Time,Delivery Date and Time,Order Value,Delivery Fee,Payment Method,Discounts and Offers,Commission Fee,Payment Processing Fee,Refunds/Chargebacks
995,996,C6232,R2129,2024-01-14 05:57:00,2024-01-14 06:39:00,825,0,Digital Wallet,5% on App,165,47,50
996,997,C6797,R2742,2024-01-28 08:50:43,2024-01-28 10:10:43,1627,50,Cash on Delivery,NaN,110,42,0
997,998,C5926,R2837,2024-01-21 09:43:19,2024-01-21 10:44:19,553,20,Cash on Delivery,NaN,64,31,0
998,999,C7016,R2144,2024-01-30 22:23:38,2024-01-31 00:07:38,1414,0,Cash on Delivery,15% New User,199,34,0
999,1000,C4335,R2890,2024-01-08 14:46:43,2024-01-08 15:39:43,1657,20,Digital Wallet,15% New User,180,27,100

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Order ID                1000 non-null   int64
 1   Customer ID             1000 non-null   object
 2   Restaurant ID           1000 non-null   object
 3   Order Date and Time     1000 non-null   object
 4   Delivery Date and Time  1000 non-null   object
 5   Order Value             1000 non-null   int64
 6   Delivery Fee            1000 non-null   int64
 7   Payment Method          1000 non-null   object
 8   Discounts and Offers    815 non-null    object
 9   Commission Fee          1000 non-null   int64
 10  Payment Processing Fee  1000 non-null   int64
 11  Refunds/Chargebacks     1000 non-null   int64
dtypes: int64(6), object(6)
memory usage: 93.9+ KB

## Data Selection

In [28]:
df["Customer ID"]

0      C8270
1      C1860
2      C6390
3      C6191
4      C6734
       ...
995    C6232
996    C6797
997    C5926
998    C7016
999    C4335
Name: Customer ID, Length: 1000, dtype: object

In [29]:
type(df["Customer ID"])

pandas.core.series.Series

In [34]:
df[["Customer ID", "Delivery Fee"]]

    Customer ID  Delivery Fee
0         C8270             0
1         C1860            40
2         C6390            30
3         C6191            50
4         C6734            30
..          ...           ...
995       C6232             0
996       C6797            50
997       C5926            20
998       C7016             0
999       C4335            20

[1000 rows x 2 columns]

In [38]:
df.iloc[0]

Order ID                                    1
Customer ID                             C8270
Restaurant ID                           R2924
Order Date and Time       2024-02-01 01:11:52
Delivery Date and Time    2024-02-01 02:39:52
Order Value                              1914
Delivery Fee                                0
Payment Method                    Credit Card
Discounts and Offers                5% on App
Commission Fee                            150
Payment Processing Fee                     47
Refunds/Chargebacks                         0
Name: 0, dtype: object